{% extends "admin_page.html" %}
{% load i18n %}
{% block adminmodule %}
<h2>
{% trans "Dynamic Network Firewall - Admin panel" %}
</h2>
<p>
{% blocktrans %}
Most static settings must be set in the configfile located in /etc/dnf/dnf.conf. For security purposes is this file not writable from your webserver.
{% endblocktrans %}
</p>
<h2>{% trans "Current settings" %}</h2>

<table>
<tr>	
	<th>{% trans "Setting" %}</th>
	<th>{% trans "Value" %}</th>
	<th>{% trans "Type" %}</th>
	<th>{% trans "Comment" %}</th>
</tr>
<tr>
	<th>Global</th>
</tr>
<tr>	
	<td>server</td>
	<td>{{ conf.server }}</td>
	<td>String</td>
	<td>{% trans "IP address of DNF-system server" %}</td>
</tr>
<tr>
	<td>internal interface</td>
	<td>{{ conf.internal_interface }}</td>
	<td>interface<br>(eg. eth1)</td>
	<td>{% trans "Network Interface connected to inside network (LAN)" %}</td>
</tr>
<tr>
	<td>external_interface</td>
	<td>{{ conf.external_interface }}</td>
	<td>Interface<br>(eg. eth0)</td>
	<td>{% trans "Network Interface connected to external network (internet)" %}</td>
</tr>
<tr>
	<td>mode</td>
	<td>{{ conf.mode}}</td>
	<td>
	AGGRESIVE<br>
	AUTO<br>
	MANUAL</td>
	<td>{% trans "Auto: DNF automaticly restricts users" %}</td>
</tr>
<tr>
	<td>singel</td>
	<td>{{ conf.singel }}</td>
	<td>True,False</td>
	<td>{% trans "Force only one login pr user if true" %}</td>
</tr>
<tr>
	<th>db</th>
</tr>
<tr>
	<td>server</td>
	<td>{{ conf.db.server }}</td>
	<td>String</td>
	<td>{% trans "Address of MySQL-server" %}</td>
</tr>
<tr>
	<td>user</td>
	<td>{{ conf.db.user }}</td>
	<td>String</td>
	<td>{% trans "MySQL user" %}</td>
</tr>
<tr>
	<td>name</td>
	<td>{{ conf.db.name }}</td>
	<td>String</td>
	<td>{% trans "database name" %}</td>
</tr>
<tr>
	<td>password</td>
	<td>{% trans "NOT VISIBLE" %}</td>
	<td>String</td>
	<td>{% trans "Password of database user" %}</td>
</tr>
<tr>
	<td>port</td>
	<td>{{ conf.db.port</td>
	<td>Integer</td>
	<td>{% trans "Port of MySQL-server. Default is 3306" %}</td>
</tr>
<tr>
	<th>files</th>
</tr>
<tr>

	<td>dhcp_leasefile</td>
	<td>{{ conf.files.leasefile }}</td>
	<td>path</td>
	<td>{% trans " " %}</td>
</tr>
<tr>
	<td>ip_conntrack</td>
	<td>{{ conf.files.ip_conntrack }}</td>
	<td>path</td>
	<td>{% trans "DEPREACIATED" %}</td>
</tr>
<tr>
	<td>default</td>
	<td>{{ conf.files.defaultlog }}</td>
	<td>path</td>
	<td>{% trans "Default logfile" %}</td>
</tr>
<tr>
	<td>limit</td>
	<td>{{ conf.files.limitlog }}</td>
	<td>path</td>
	<td>{% trans "Logfile for limited users" %}</td>
</tr>
<tr>
	<td>drop</td>
	<td>{{ conf.files.droplog }}</td>
	<td>path</td>
	<td>{% trans "Log of logouts and drops" %}</td>
</tr>
<tr>
	<td>login</td>
	<td>{{ conf.db.loginlog }}</td>
	<td>path</td>
	<td>{% trans "Logs userlogin" %}</td>
</tr>
<tr>
	<td>error</td>
	<td>{{ conf.db.errorlog }}</td>
	<td>path</td>
	<td>{% trans "Logs (non-fatal) errors" %}</td>
</tr>
<tr>
	<th>bandwidth</th>
</tr>
<tr>
	<td>unit</td>
	<td>{{ conf.bandwidth.unit }}</td>
	<td>M,K,B,</td>
	<td>{% trans "Unit of bandwidth" %}</td>
</tr>
<tr>
	<td>max_rxs</td>
	<td>{{ conf.bandwidth.max_rxs }}</td>
	<td>Integer</td>
	<td>{% trans "Maxlimit of line in. MUST BE (PURE) INTEGER" %}</td>
</tr>
<tr>
	<td>max_txs</td>
	<td>{{ conf.bandwidth.max_txs }}</td>
	<td>Integer</td>
	<td>{% trans "Maxlimit of line out. MUST BE (PURE) INTEGER" %}</td>
</tr>
<tr>
	<td>max_connections</td>
	<td>{{ conf.bandwidth.max_connections }}</td>
	<td>Integer</td>
	<td>{% trans "Capacity of simultanius connections. MUST BE (PURE) INTEGER" %}</td>
</tr>
<tr>
	<td>latency_test_addr</td>
	<td>{{ conf.bandwidth.latency_test_addr }}</td>
	<td>url</td>
	<td>{% trans "Address to benchmark latency" %}</td>
</tr>
<tr>
	<td>latency_high</td>
	<td>{{ conf.bandwidth.latency_hig }}</td>
	<td>Integer</td>
	<td>{% trans "Latency limit in milliseconds. MUST BE PURE INTEGER" %}</td>
</tr>
<tr>
	<td>limit_offset</td>
	<td> {{ conf.bandwidth.limit_offsett }}</td>
	<td>float (eg. 1.2) </td>
	<td>{% trans "offset to keep deamon calm. float." %}</td>
</tr>
<tr>
	<td>download_file_addr</td>
	<td>{{ conf.bandwidth.download_file_addr }}</td>
	<td>url</td>
	<td>{% trans "File to download as bandwidth benchmark" %}</td>
</tr>
<tr>
	<td>download_time_high</td>
	<td>{{ conf.bandwidth.download_time_hig }}</td>
	<td>Integer</td>
	<td>{% trans "The time this download should take." %}</td>
</tr>
</table>

{% endblock %}